<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <title>MaxFriday</title>

        <link rel="stylesheet" href="assets/styles/vendors.min.css">
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="stylesheet" href="assets/styles/como-funciona.css">
        <link rel="stylesheet" href="assets/styles/fa.css">
    </head>


    <body>
       <div class="wrapper" >     
            <!-- Sidebar Holder -->
            <nav id="sidebar">     

                 <nav id="navbar" class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="fa fa-3x fa-bars"></i>  
                            </button>
                        </div>   
                    </div>
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                 <img id="arrow" src="assets/img/arrow.png" class="rotate">  
                            </button>
                        </div>   
                    </div>
                        
                </nav>

               <div class="row">
                    <div id="logo-black-friday" class="col-md-2 col-md-offset-1 ">
                            <img src="assets/img/logo-black-friday.png" alt=""/>
                    </div>
                    <div class="col-md-2 col-md-offset-5 logo">
                        <a href="http://www.maxmilhas.com.br" target="_blank"><img src="assets/img/logo-maxmilhas.png"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3" >
                        <ul id="menu" class="list-unstyled components">
                            <li id="limenu" class="menu">
                                
                                   <span>MENU</span>
                                
                                <ul class="list-unstyled" id="homeSubmenu">
                                    <li><a href="#"><b>+COMO FUNCIONA</b></a></li>
                                    <li><a href="#"><b>+REGULAMENTO</b></a></li>
                                    <li><a href="#"><b>+QUEM SOMOS?</b></a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="sidebar-header  col-md-8 ">
                    	<h1>DESCONTOS IMPERDÍVEIS</h1>
                        <div class="col-md-offset-3 col-md-9 ">
                        	<p>Na MaxFriday você sempre sai ganhando! Todos os cupons têm benefícios imperdíveis e combinam perfeitamente com a sua viagem. Mas lembre-se: eles são válidos para compras realizadas HOJE e podem esgotar a qualquer momento. Escolha seu cupom e cole agora na página de pagamento. Vai perder? </p>
                            <p><b>Copiou, usou, economizou!</b></p>                     		
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <div class="menuBlack">
        					<ul class="list-inline ">
        						<li class="">
        							
        								<span>COMPARTILHE</span>
        							
        							<ul class="list-inline" >
        								
        								<li><a href="#"><img src="assets/img/facebook-icon.jpg" width="39" height="41" alt=""/></a></li>
        								<li><a href="#"><img src="assets/img/whatsapp-icon.jpg" width="39" height="41" alt=""/></a></li>
        								<li><a href="#"><img src="assets/img/twitter-icon.jpg" width="39" height="41" alt=""/></a></li>
        							</ul>
        						</li>

        					</ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-offset-3 col-md-9 customer">
                        <p>ATENDIMENTO <a>24HORAS</a> | SELO <a>RA1000</a></p>
                    </div>
                    </div>
                    
                </div>    

			</nav>

          
            <!-- Page Content Holder -->
            <div id="content"> 
                
                <div class="back">
                    < TELA INICIAL <br>
                </div>    
                <div class="heading">                   
                    COMO FUNCIONA<br>
                </div> 
                <div class="heading-alt">
                    A MAX FRIDAY
                </div>
                                          
                
                <div class="text">
                                Na MaxFriday todo mundo encontra o cupom ideal para voar com um descontão, mas esse benefício pode esgotar a qualquer momento. Então, não dá pra vacilar, né? É pá-pum! <b>Você precisa encontrar a melhor opção, aplicar e ganhar! </b>

                </div>
                <div class="rectangle"></div>
                <div class="title">                   
                    01.<h3> Não dá pra perder tempo! </h3>                 
                </div>
                <div class="text">
                    Todas as ofertas tem um descontão para você sair sempre ganhando. Escolha a opção que mais combina com a sua viagem e não perca tempo!
                </div>
                <div class="title">                   
                    02.<h3> COPIE PARA USAR E GANHAR! </h3>                 
                </div>
                <div class="text">
                    Quando encontrar o cupom ideal, copie e voe para o próximo passo. Você está perto de garantir sua passagem com a máxima da máxima economia.
                </div>
                <div class="title">                   
                    03.<h3> Compre com a máxima da máxima economia  </h3>                 
                </div>
                <div class="text">
                    O site da MaxMilhas já oferece descontos incríveis para que você voe cada vez mais. Afinal, você merece viajar, né? Após copiar seu cupom, acesse o site da MaxMilhas para fazer sua compra, usar o benefício e economizar! É SÓ HOJE, hein? Você não pode perder!
                </div>
                <button>ver descontos</button>
                 <div class="heading">
                    <h2>
                    FAQ MAXMILHAS 
                    </h2>                       
                </div> 
                <div class="rectangle"></div>
                <div id="square">
                    <div id="diamond"></div>
                    <h4> A MaxFriday dura até quando?</h4>
                    <div class="text">
                        Como tudo que é bom dura pouco, a MaxFriday termina no dia 24/12/2017, às 23:59. Então, aproveite! As compras com utilização de cupons só serão aceitas dentro desse prazo ou antes que o benefício esgote.
                    </div>                                 
                </div>
                <div id="square">
                    <div id="diamond"></div>
                    <h4> Os cupons podem ser utilizados quantas vezes por usuário?</h4>
                    <div class="text">
                        Cada cupom possui uma utilização única por CPF, mas você pode utilizar quantos cupons quiser. Dá pra garantir passagens com a máxima da máxima economia para as férias, reveillon e até carnaval. Se joga! 
                    </div>                                 
                </div>
                <div id="square">
                    <div id="diamond"></div>
                    <h4> Consigo utilizar um cupom esgotado?</h4>
                    <div class="text">
                        Não. Mesmo com o código já copiado, é preciso finalizar sua compra para garantir o desconto. Os cupons que estiverem esgotados não poderão ser mais utilizados. 
                    </div>                                 
                </div>
                <div id="square">
                    <div id="diamond"></div>
                    <h4> Consigo utilizar um cupom com tempo expirado?</h4>
                    <div class="text">
                        Não. O tempo de vigência determina a validade do cupom, após expirado, o benefício não será mais aplicado. 
                    </div>                                 
                </div>
                <div id="square">
                    <div id="diamond"></div>
                    <h4>Posso utilizar os cupons para qualquer destino? </h4>
                    <div class="text">
                        Cada cupom possui restrições específicas. Por isso, é importante entender o benefício de cada um deles para fazer sua escolha.
                    </div>                                 
                </div>
                
                <div id="square">
                    <div id="diamond"></div>
                    <h4> Preciso de milhas para participar da MaxFriday?</h4>
                    <div class="text">
                        Como tudo que é bom dura pouco, a MaxFriday termina no dia 24/12/2017, às 23:59. Então, aproveite! As compras com utilização de cupons só serão aceitas dentro desse prazo ou antes que o benefício esgote.
                    </div>                                 
                </div>
                <div id="square">
                    <div id="diamond"></div>
                    <h4> Corro o risco de ter minha passagem cancelada? </h4>
                    <div class="text">
                        Como tudo que é bom dura pouco, a MaxFriday termina no dia 24/12/2017, às 23:59. Então, aproveite! As compras com utilização de cupons só serão aceitas dentro desse prazo ou antes que o benefício esgote.
                    </div>                                 
                </div>
                <button type="button" class="btn btn-danger btn-block">ACESSE O REGULAMENTO AGORA <img src="assets/img/arrow.png"></button>
                <div class="goback">
                    VOLTAR PARA TELA INICIAL
                </div>

                </div>
                </div>
                
                


        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $('#navbar').toggleClass('active');
                     $('#menu').toggleClass('active');
                     $('#limenu').toggleClass('menuBlack');
                     $('#logo-black-friday').toggleClass('img-responsive');
                     $('#arrow').toggleClass('rotate-inverse')
                 });
             });
         </script>

        <!-- Scripts de vendors, wow.js separado para evitar conflitos e MAIN JS -->
        <script src="assets/scripts/vendors.min.js"></script>
        <script src="assets/scripts/vendors/wow/wow.min.js"></script>
        <script src="assets/scripts/main.min.js"></script>

    </body>
</html>
