@import "fa.css";
@import "https://fonts.googleapis.com/css?family=Gravitas+One";

@font-face {
    font-family: 'Gotham Black';
    src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Black.eot'); /* IE9 Compat Modes */
    src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Black.woff') format('woff'), /* Modern Browsers */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Black.svg#0b358a21b3e426ee0635cfc34eab6e7e') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Book.eot'); /* IE9 Compat Modes */
    src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Book.woff') format('woff'), /* Modern Browsers */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Book.svg#7510147900d23fa3ad697e74bf146ea2') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'Gotham Ultra';
    src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Ultra.eot'); /* IE9 Compat Modes */
    src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Ultra.woff') format('woff'), /* Modern Browsers */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Ultra.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('https://assets-bf.maxmilhas.com.br/assets/fonts/Gotham-Ultra.svg#68cdd64c623d5cd24b716ed9d9ff0958') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}


/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'FontAwesome';
  src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('https://assets-bf.maxmilhas.com.br/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'Gotham Book', sans-serif;
    background: black;
}


p {
  font-size: 18px;
  font-family: "Gotham Book";
  color: rgb(0, 0, 0);
  line-height: 1.2;

}


h1 {
  font-size: 57.683px;
  font-family: "Gravitas One";
  color: rgb(0, 0, 0);
  line-height: 1.091;
  -moz-transform: matrix( 0.95349005726368,0,0,0.95349005726368,0,0);
  -webkit-transform: matrix( 0.95349005726368,0,0,0.95349005726368,0,0);
  -ms-transform: matrix( 0.95349005726368,0,0,0.95349005726368,0,0);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 14px;
    font-family: "Gotham Book";
    color: black;
    line-height: 1.2;
}


b, strong {
    font-weight: 600 !important;
}

.customer {
  font-size: 18px;
  color: rgb(0, 0, 0);
  margin-top: 223px;
}
.customer a {
  font-weight: 600;
  color: black;
  font-size: 18px;
}

.footer {
    text-align: center;
    margin: 21px 0 55px;
    border-top: 3px solid #535353;
    padding-top: 47px;
}
.footer a {
  margin-left: 5px;
}
.margin-left {
    color: black;
    margin-bottom: 15px;
}

.navbar {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 70px;
    top: 156px;
    z-index: 10;
    /*position: absolute;
    margin-left: 67.5%;*/
   /* transition: all 0.3s;*/
    float: right;
    right: -35px;
}
#navbar.active{
    /*margin-left: 24.5%*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    padding: 3px 4px;

}

.btn-info.active, .btn-info:active, .btn-info:hover, .open>.btn-info.dropdown-toggle {
    color: black;
    background: white !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-info.focus, .btn-info:focus {
    color: black;
    background-color: white; !important;
    border-color: white !important;
    outline: none;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.btn-info.dropdown-toggle.focus, .open>.btn-info.dropdown-toggle:focus, .open>.btn-info.dropdown-toggle:hover {
    color: #fff;
    background-color: white !important;
}
.btn-info{
    background-color: white !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}
span {
    font-family: "Gotham Book";
}
span.active {
  color: black;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;

}

#sidebar {
    min-width: 70%;
    max-width: 70%;
    background: #f2f2f2 url("https://assets-bf.maxmilhas.com.br/assets/img/background.jpg") no-repeat ;
    color: #fff;
    transition: all 0.3s;
    z-index: 5;
    height: 100%;
    padding-top: 26px;
    position: fixed;

}

#sidebar.active {
    min-width: 20%;
    max-width: 20%;
}

#sidebar.active .sidebar-header h1, #sidebar.active .sidebar-header p, #sidebar.active .logo a, #sidebar.active .customer p, #sidebar.active .CTAs {
    display: none;
}


#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: left;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.tweaked-margin {
    margin-left: 20px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: right;
    top: -230px;
    margin-bottom: -120px

}
#sidebar .sidebar-header p b, #sidebar .customer p b{
  font-family: "Gotham Black";
}
.img-responsive{
  margin-left: 20%;
}
.top {
    font-size: 18px;
    font-family: 'Gotham Black';
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    border-bottom: 2px solid white;
    margin: 0 0 25px;
    width: 612px;
    height: 32px;
    letter-spacing: 1.5px;
}
.top span {
  color: #ffc000;
  font-family: 'Gotham Black';
}
.top2 {
  font-size: 22px;
  font-family: "Gotham Book";
  color: white;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 1.5px;
}
.count {
  font-size: 56px;
  font-family: "Gravitas One";
  color: rgb(255, 192, 0);
  line-height: 1.2;
  text-align: left;

}
.progress-bar-container {
    width: 369px;
}
.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 0px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    border: 2px solid #e5e5e3;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: white;
    text-align: center;
    background-color: #ffc000;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    transition: width .6s ease;
}
.flag {
    display: inline-block;
    padding: 8px 4px 5px 22px;
    font-family: 'Gotham Black';
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    color: #000;
    background: #c8c8c8;
    text-transform: uppercase;
    box-shadow: 9px 0 39px 1px #000;
    font-size: 16px;
    left: -69px;
    top: -16px;
    width: 247px;
    margin: 0 0 11px 25px;
}

button:focus {
  outline: none;
}
.flag:after, .flag:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 0.9em solid transparent;
    right: -0.9em;
    position: absolute;
    top: 0;
    border-top: 1em solid #c8c8c8;

}
.flag:after {
    top: auto;
    bottom: 0;
    border-top: none;
    border-bottom: 1em solid #c8c8c8;

}

.bar-gray{
  background-color: #b5b5b5;
  height: 10px;
  width: 83px;
  margin: 55px 0 21px 1px;
}

.bar-silver, .bar-black {
    height: 6px;
    width: 66px;
    margin: 6px 0 21px 1px;
}
.bar-silver {
      background-color: #e5e5e5;
}
.bar-black {
  background-color: black;
}

.offer, .offer-out {
    border: 2px solid #fff;
    margin-top: 20px;
    padding: 0px 42px 31px 42px;
}
.offer-out {
  border: 2px solid #b8b8b8;
}
.offer-title, .offer-title-white {
  font-size: 22px;
  font-family: "Gravitas One";
  letter-spacing: 1.2px;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}
.offer-subtitle, .offer-subtitle-white {
  font-size: 14px;
  font-family: "Gotham Book";
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
}
.offer-subtitle b, .offer-subtitle-white b{
  font-family: "Gotham Black";
}
.offer-cupom {
  font-size: 16px;
  font-family: "Gotham Book";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 100;
}
.offer-code, .offer-code-white{
  font-size: 20px;
  font-family: "Gotham Black";
  color: rgb(255, 192, 0);
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;

}

.btn-offer {
    border-radius: 19px;
    width: 169px;
    text-transform: uppercase;
    background-color: #e1e1df;
    border: 0;
    height: 30px;
    margin-top: 11px;
    padding-top: 6px;
    font-size: 16px;
    font-family: "Gotham Black";
}
.offer-white{
  background: white;

}
.offer-title, .offer-subtitle{
  color: white;
}
.offer-title-white, .offer-subtitle-white{
  color: black;
}
.offer-code-white {
    color: #1abc9c;
    width: 225px;
    margin-bottom: 9px;
    margin-top: -7px;
}
.btn-white{
    background-color: #ff0000;
    width: 100%;
    height: 39px;
    border: 0;
    color: white;
    font-family: "Gotham Black";
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
}
.js-copytextarea {
  background:none;
  border: 0;
  font-weight: 600;
}
.closed {
  font-family: "Gotham HTF";
  color: black !important;
  text-align: left;
  margin: -27px -33px;
  float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: black;
    cursor: pointer;
}
.closed-max {
    font-family: "Gotham HTF";
    color: black !important;
    text-align: left;
    margin: 5px -24px;
    float: right;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    color: black;
    cursor:pointer;
}

.sm {
    width: 100% !important;
}
.fa-3x {
    font-size: 3em;
    color: black;
}
.closed a {
    color: black !important;
    font-size: 21px;
}

a.btn.red img, button.btn.red, .btn-link img{
  position: relative;
  left: 10px;
  transition: all 0.2s;
}
a.btn.red:hover,
button.btn.red:hover {
    background: #e21b32;
    color: #fff;
}
a.btn.red:hover img,
button.btn.red:hover, btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover  img{
  left: 15px;
}

.btn-link{
    background-color: #e21b32;
    border: 0;
    width: 410px;
    height: 37px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    margin-top: 10px;

}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    background-color: red;
    border: 0;
    width: 410px;
    height: 37px;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    text-decoration: none;
}
.btn-link:hover{
    background-color: #e21b32;
}
.logo {
    position: relative;
    left: 191px;
}
.title-offer-out{

}
h2 {
    font-size: 36px;
    font-family: 'Gotham Ultra';
    color: #b5b5b5;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    text-indent: -85.5px;
    letter-spacing: 2.5px;
    margin-top: -7px;
    text-transform: uppercase;
}

h3 {
  font-size: 22px;
  font-family: "Gravitas One";
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 19px;

}

h4 {
    font-family: "Gotham Book";
    color: #b5b5b5;
    line-height: 1.25;
    text-align: center;
    text-indent: -86px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #535353;
    width: 95%;
}


.max-offer {
    margin: 54px 0 30px;
}
.max-offer-out{
  color: #b8b8b8;
}

.out {
  color: #b8b8b8 !important;
}
.max-title {
  font-size: 45px;
  font-family: "Gravitas One";
  color: white;
  line-height: 0.956;
  text-align: right;
  text-transform: uppercase;
  margin-top: -86px;
}
.black {
  font-size: 45px;
  font-family: "Gravitas One";
  color: black;
  line-height: 0.956;
  text-align: right;
  text-transform: uppercase;
  margin-top: -86px;
}

ol {
  font-size: 18px;
  font-family: "Gravitas One";
  font-size: 18px;
  margin-left: -11px;
  margin-bottom: 36px;
}

ol p {
  font-size: 18px;
  font-family: "Gotham Book";
  color: white;
}
ol p b{
  font-family: "Gotham Black";
  letter-spacing: 0.8px;
}

li {
  font-size: 18px;
   font-family: "Gravitas One";
}

 li:before {
   font-family: "Gravitas One";
 }

.background {
    background-color: hsla(0,0%,67%,.2)!important;
    padding: 12px 4px 29px 51px;
    margin: 42px 0 10px 0;
    font-size: 18px;
    font-family: "Gotham Book";
    font-weight: 100;
    color: white;
    line-height: 1.2;
    text-align: left;
}
.background a{
  color: white;
  font-size: 18px;
  text-decoration: underline;
  font-weight: 600;
}
.background a.btn-search{
  text-decoration: none;
  font-size: 16px;
  line-height: 1.6;
}
.message {
    background-color: hsla(0,0%,67%,.2)!important;
    padding: 15px 0px 50px 3px;
    margin: 30px 0 0px 13px;
    font-size: 18px;
    font-family: "Gotham Book";
    font-weight: 100;
    color: white;
    line-height: 1.2;
    text-align: left;
    width: 98%;
}

.exclamation {
    margin: -12px 0px 0px -24px;
}
#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar div.components {
    background: black;
    padding: 20px 0;
    width: 266px;
    height: 166px;
}
#sidebar.active div.components {
    background: transparent;
    text-align: left;
    font-size: 16px;
    width: 266px;
    height: 166px;

}
#sidebar.active .menuBlack a {
    color: black;
    font-family: 'Gotham Black';
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    display: inline-block;
}
#sidebar.active .menuBlack span {
    color: black;
}
#sidebar.active .menuBlack {
    border-left: 2px solid black !important;
}
}




/*#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: black;
}*/


a[data-toggle="collapse"] {
    position: relative;
}

/*a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}*/
a[aria-expanded="true"]::before {
    content: '\e260';
}



/*ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: black;
}*/

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


.rotate {
        transform: rotate(180deg);
        margin-top: 280px;
        transition:all 0.3s ease;
}
.rotate-inverse {
        transform: rotate(0deg);

}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: black;
    margin-left: 444px;
    margin-top: 70px;
    margin-right: 384px;
/*    position: fixed;
*/
}


.menuBlack {
    border-left: 2px solid white !important;
    color: black;
    position: relative;
    margin-left: 50px !important;
    height: 127px;
    font-size: 16px;
    display: block;
    padding-left: 24px;
    padding-bottom: 8px;
    line-height: 27px;
    z-index: 7;
}
.menu {
    margin-left: 50px !important;
    border-left: 2px solid black ;
    height: 127px;
    font-size: 16px;
    display: block;
    padding-left: 24px;
    padding-bottom: 8px;
    color: white;
    position: relative;
    text-decoration: none;
    width: 184px;
    text-align: left;
}
.menuBlack span {
  color: white;
}
.menuBlack a {
  color: white;
  font-family: 'Gotham Black';
  letter-spacing: 0.8px;
  margin-bottom: 8px;
  display: inline-block;
}
.components {
    background: black;
    padding: 20px 0;
    width: 266px;
}


.menuShare {
    color: black;
    border-left: 2px solid black !important;
    margin-left: 50px;
    padding-left: 22px;
    position: fixed;
    top: 640px;
    text-align: left;
    z-index: 0;
}


.menuBlack a {
    font-size: 16px;
    position: relative;
    text-decoration: none;
}

.menuBlack a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 2px;
    background-color: #c4c4c5;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);

}


.menuBlack a:hover:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;

}

.list-inline>li {
     padding-right: 0px;
}
.content {
    margin: 20px 0 0 24%;
    z-index: 2;
}

.list-inline {
    margin-left: -8px;
}
#nav-mobile {
    display: none;
}
.btn-mobile {
    margin: 58px;
    font-size: 30px;
}
.mobile-bar{
    background: #f2f2f2 url('https://assets-bf.maxmilhas.com.br/assets/img/background.jpg') no-repeat;
    color: #fff;
    transition: all 0.3s;
}
#logo-black-friday {
    background: #f2f2f2 url('https://assets-bf.maxmilhas.com.br/assets/img/logo-black-friday.png') no-repeat;
    width: 177px;
    height: 283px;
    float: inherit;
}
#logo-mobile {
        display: none;
    }

@media (max-width: 768px) and (min-width: 450px) {
     .sidebar-header {
        transform: scale(0.8);
        right: 36px !important;
        top: -329px !important;
        text-align: center;
        z-index: 2;
    }
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 992px)  {
  .wrapper{
    display: block;
  }
  .count {
    font-size: 36px;
  }
  .background{
        padding: 12px 4px 30px 15px;
        font-size: 16px;
        margin-bottom: 20px;
  }
  .background a.btn-search{
    font-size: 14px;
  }
  .btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover{
    width: 100%;
  }
  ol p{
    font-size: 16px;
  }
  .bar-gray{
    display: none;
  }
  h2, h4{
    text-indent: inherit;
  }
  .btn-link img{
    display: none;
  }
  .max-title{
    display: none;
  }
  .max-offer{
    margin: 20px 0 0;
  }
    #navbar {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: white;

    }
    .navbar-btn {
      padding: 10px;
      margin: 20px 20px;
      vertical-align: middle;

    }
    .progress-bar-container{
      width: 100%;
    }

    .top{
      width: 100%;
      border: none;
    }
    .top2{
      font-size: 16px;
    }
    #btn-arrow {
        display: none;
    }
    #sidebar {
        min-width: none;
        max-width: none;
        width: 100%;
        position: absolute;
        height: auto;
    }
    h1 {
        text-align: center;
        font-size: 22px;
        margin-top: 0;
    }
    #nav-mobile {
        width: 100%;
        height: 200px;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 98;
        display: block;
        top: 0;
        left: 0;
        background-color: white;
    }
    p {
        font-size: 18px;
    }
    .content {
        margin: 45% 0 0;
    }
    .menuBlack{
      margin-left: 12px !important;
    }
    .menuBlack a{
      font-size: 14px;
    }
    #sidebar div.components {
        background: black;
        padding: 20px 0;
        width: 100%;
        height: 166px;
        top: -40px;
        position: relative;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
        max-width: 0;
        min-width: 0;
    }

    #sidebar .info p, #sidebar .CTAs {
        display: none;
    }

    #sidebar .logo a {
        display: block;
    }
    #sidebar .customer p {
        display: block;
    }

    #sidebar .sidebar-header strong p h1 a {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #logo-black-friday {
        background: none;
        height: 101px;
        width: 151px;
        margin: -11px;
        position: relative;
        top: -132px;
        z-index: 777;
        left: 176px;
    }
    .customer{
      margin-top: 20px;
    }
    .sidebar-header {
        transform: scale(0.9);
        padding-bottom: 1px;
    }
    #sidebar .sidebar-header {

        text-align: center;
        margin-bottom: 1px;
        top: -40px;

    }


    #logo-mobile {
        display: inline-block;
        width: 60%;
        vertical-align: middle
    }
    #logo-mobile img{
      margin-left: 0;
      height: auto;
      float: right;
    }
    .menuShare {
      top: 0;
      left: 0;
      position: relative;
      margin-left: 10px;
    }
    .btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.btn-info.dropdown-toggle.focus, .open>.btn-info.dropdown-toggle:focus, .open>.btn-info.dropdown-toggle:hover {
    background-color: black !important;
}

    .btn-info {
        background-color: black !important  ;
    }
    .fa{
        color: white;
    }
}



/*@media (max-width: 414px)  {
    #sidebar {
        display: block;
    }
    #navbar {
        display: none;
    }*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url('https://assets-bf.maxmilhas.com.br/assets/img/stars.png') repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url('https://assets-bf.maxmilhas.com.br/assets/img/twinkling.png') repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;

}
@media (max-width: 768px)  {
  .twinkling{
    display: none;
  }
}
.clouds{
    background:transparent url('https://assets-bf.maxmilhas.com.br/assets/img/clouds.png') repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}

.btn-go, .btn-go:active, .btn-go:focus, .btn-go:hover{
  width: 100%;
  line-height: 1.6;
  font-family: 'Gotham Book';
}
